# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.vscode/
.env

# Logs
logs
*.log
logs/*.log
bundle.js
# OS files
.DS_Store
Thumbs.db

# React
build/
*.cache
.idea/

# Windows
desktop.ini
